<section layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools"><span>{{'ARMLEARNING' | translate}}</span></h1>
    </md-toolbar>
    <md-content layout-padding="">
      <md-list flex>
        <md-list-item class="md-3-line">
          <a class="mdl-navigation__link" ui-sref="admin.users"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>
            {{'MENUUSERS' | translate}}</a>
        </md-list-item>
        <md-list-item class="md-3-line">
          <a class="mdl-navigation__link" ui-sref="admin.classes"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>
            {{'MENUCLASSES' | translate}}</a>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item class="md-3-line">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span
            class="visuallyhidden">Help</span></a>
        </md-list-item>
      </md-list>
    </md-content>

  </md-sidenav>
  <md-content flex >
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>{{pageTitle?pageTitle:'USERS' | translate}}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            <i class="material-icons">&#xE5D4;</i>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-click="exit()">
              <md-button>
                {{'EXIT' | translate}}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                Contact
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                Legal information
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <main class="" ui-view="">
    </main>
  </md-content>
</section>
