<link rel="stylesheet" href="css/matrix-login.css"/>

<div class="loginbox" ng-hide="registering">
  <form id="loginform" class="form-vertical">
    <div class="control-group normal_text"><h3><img src="img/logo.png" alt="Logo"/></h3></div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="{{'EMAIL'|translate}}" ng-model="credentials.email"/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="{{'PASSWORD'|translate}}" ng-model="credentials.password"/>
        </div>
      </div>
    </div>
    <div class="control-group normal_text">
        <span><button class="btn btn-success" ng-click="login()"> Login</button></span>
    </div>
    <div class="form-actions">
      <span class="pull-left"><a href="#" class="flip-link btn btn-info" ng-click="registering = true">{{'REGISTER'|translate}}</a></span>
      <span class="pull-right"><button class="btn btn-danger" id="to-recover"> {{'LOST_PASSWORD'|translate}}</button></span>
    </div>
  </form>
</div>

<div class="loginbox" ng-show="registering">
  <form id="registerform" class="form-vertical">
    <div class="control-group normal_text"><h3><img src="img/logo.png" alt="Logo"/></h3></div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="{{'EMAIL'|translate}}" ng-model="newUser.email"/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-envelope"> </i></span><input type="password" placeholder="{{'PASSWORD'|translate}}" ng-model="newUser.password"/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg"><i class="icon-lock"></i></span><input type="password" placeholder="{{'PASSWORD'|translate}}" ng-model="newUser.password2"/>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="pull-left"><a href="#" class="flip-link btn btn-success" ng-click="addUser()" >{{'REGISTER'|translate}}</a></span>
      <span class="pull-right"><button class="btn btn-warning" ng-click="registering = false"> {{'BACK'|translate}}</button></span>
    </div>
  </form>
</div>

<div class="loginbox">
    <div class="control-group normal_text"><h3>{{message}}</h3></div>
</div>
<div class="loginbox">
  <div class="control-group error_text"><h3 ng-repeat="item in arrayerror">{{item.parameter | translate}} : {{item.value | translate}}</h3></div>
</div>
